{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<div class="footer-item">
  6:45pm - 8:45pm<br/>
  Every 1st and 3rd Wednesday
  <pre>
{{ site.meeting_address }}
  </pre>
</div>
<div class="footer-item">
	<a href="http://tmclub.eu/mycalendar.php?month=02&year=2015&scope=only">Calendar</a>
	<a href="http://fbtm.tmclub.eu">EasySpeak</a>
	<a href="{{ site.url }}/contact/">Contact</a>
	<a href="{{ site.url }}/imprint/">Imprint</a>
</div>
