<header class="tm-blue-bg full-width pad-vert">
  <div class="row">
    <div class="large-12 columns">
      <img src="{{ "/img/tm-logo.150x.png" | prepend: site.baseurl }}" class="title-image" />
      <h1 class="white-text upcase">First Berlin Toastmasters</h1>

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name"></li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right upcase">
            <li><a href="{{ site.baseurl }}/" class="menu-link">HOME</a></li>
            <li><a href="{{ site.baseurl }}/meetings/" class="menu-link">MEETINGS</a></li>
            <li class="has-dropdown">
              <a>SUCCESS STORIES</a>
              <ul class="dropdown">
                <li><a href="{{ site.baseurl }}/success/benjamin_bruehl/"   class="menu-link">Benjamin Brühl</a></li>
                <li><a href="{{ site.baseurl }}/success/olivia_schofield/"  class="menu-link">Olivia Schofield</a></li>
                <li><a href="{{ site.baseurl }}/success/bertrand_voelkers/" class="menu-link">Bertrand Völkers</a></li>
                <li><a href="{{ site.baseurl }}/success/claude_desroches/"  class="menu-link">Claude Desroches</a></li>
              </ul>
            </li>

            <li><a href="{{ site.baseurl }}/faq/" class="menu-link">FAQ</a></li>
            <li><a href="{{ site.baseurl }}/contact/" class="menu-link">CONTACT</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</header>
{% if page.image.feature %}
<img src="{{ site.baseurl }}/img/{{ page.image.feature }}" class="banner-image full-width" />
<a class="right small margin-right" href="{{ page.image.creditlink }}"/>Image by {{ page.image.credit }}</a>
{% else %}
<img src="{{ site.baseurl }}/img/{{ site.default_image.feature }}" class="banner-image full-width" />
<a class="right banner-image-credit" href="{{ site.default_image.creditlink }}"/>Image by {{ site.default_image.credit }}</a>
{% endif %}
