<div class="row">
  <div class="columns large-8">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Bismarckplatz%201%2014193%20Berlin-Wilmersdorf&key=AIzaSyBCrzlPbghey2A8y59cnuqu7bUlypm_qdY" allowfullscreen></iframe>
  </div>
  <div class="columns large-4">
    <div class="small-12 columns footer-address">
      <strong class="header-font">
      First Berlin Toastmasters<br/>
      6:45pm - 8:45pm<br/>
      Every 1st and 3rd Wednesday
      </strong>

      <strong class="header-font">
       {{ site.meeting_address | newline_to_br }}
      </strong>
    </div>    
  </div>
</div>