@import "media_queries";

$tm-blue: #003F62;
$std-pad: rem-calc(20);

// text
.white-text {
  color: #FFF;
}

.upcase {
  text-transform: uppercase;
}

.header-font {
  font-family: $header-font-family;
}

.heavy-text {
  font-weight: 700;
  font-size: 1.5rem;
}

// colour
.tm-blue-bg {
  background: $tm-blue
}

// layout
.full-width {
  width: 100%;
}

.display-block {
  display: block;
}

.pad-vert {
  padding: $std-pad 0;
}

.pad-both {
  padding: $std-pad;
}

// custom styles
.banner-image {
  margin-bottom: $std-pad
}

.site-footer {
  .small-push-left {
    margin-right: $std-pad;
  }
}

@media #{$medium-up} {
  .title-image {
    float: left;
    margin-right: 20px;
  }

  .baseline-buttons {
    padding-top: 90px;
  }

  .menu-link {
    background: transparent;
    margin-left: 65px;
  }
}

.footer-text {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.4;
}