// type
$font-family-sans-serif: "PT Sans Narrow", Arial, sans-serif;
$header-font-family: "PT Sans Narrow", Arial, sans-serif;
$header-font-weight: bold;
$paragraph-font-family: "PT Serif", serif;

// topbar
$topbar-bg: transparent;
$topbar-dropdown-bg: transparent;
$topbar-link-bg: transparent;
$topbar-link-color: #fff;
$topbar-link-color-hover: #dadada;
$topbar-link-bg-active: transparent;
$topbar-link-bg-hover: transparent;
$topbar-link-bg-color-hover: transparent;
//$topbar-height: rem-calc(45);
$topbar-title-weight: bold;
$topbar-link-weight: bold;
$topbar-link-font-size: 1.2em;

$font-family-sans-serif: "PT Sans Narrow", Arial, sans-serif;
